### Lab Assignment: Commercial Data Analysis

### University of Virginia
### DS 7200: Distributed Computing
### Last Updated: August 20, 2023

---

### INSTRUCTIONS  
In this assignment, you will work with a dataset containing information about businesses.  
Each record is a business location.  Follow the steps below, writing and running the code in blocks, and displaying the solutions.  

Each question part is worth 1 POINT, for a total of 15 POINTS.

Hint: reaching deeper fields in json hierarchy can be done like this:  

`df.select('address.street_number')`

---

In [1]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("comm") \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/18 22:20:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**1. (1 PT) Read in the dataset and show the number of records**

In [3]:
data = "/standard/ds7200-apt4c/large_datasets/part-00000-a159c41a-bc58-4476-9b78-c437667f9c2b-c000.json.gz"
df = spark.read.json(data)
df.show()
df.printSchema()

24/09/18 22:20:19 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
|             address|       business_tags|               hours|              id|                menu|             reviews|                urls|             webpage|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
|{Woodburn, {45.15...|                null|                null|000023995a540868|                null|                  []|{woodburn.k12.or....|{Educational Tech...|
|{Hialeah, {25.884...|{[], [{has_atm, Y...|{null, 1900, null...|0000821a1394916e|                null|                null|{null, [yelp.com]...|                null|
|{Rochester, {43.1...|{[], [{accepts_cr...|{null, 1700, null...|000136e65d50c3b7|                null|[{New (to me) qui...|{usps.com, [yelp....|{Welcome | USPS G...|
|{West Palm Beach,...|                null|                null|00014329a70b9869|                null|                null|                null|                null|
|{Eufaula, {35.283...|                null|{null, 1700, null...|00031c0a83f00657|                null|                null|{drsodomcoburnand...|{DRS. COBURN, RIC...|
|{Birmingham, {33....|                null|                null|0003b7589a4e12a0|                null|[{Dr Cox and his ...|{null, [google.co...|                null|
|{Houston, {29.722...|{[], [{takes_rese...|{null, 2400, null...|00045f958e4bb02a|{2, https://www.y...|[{Dine in I resca...|{pizzahut.com, [f...|                null|
|{Flushing, {40.75...|{null, [{specialt...|{null, null, null...|00055eb14ea38ca2|                null|                null|                null|                null|
|{Helen, {34.68952...|{[by_appointment_...|{null, 1800, null...|00059519f0dba1b4|                null|[{Dishware, decor...|{facebook.com, [f...|                null|
|{Glen Burnie, {39...|                null|                null|0005f8f0b2beeac4|                null|                null|{ecoopercontracti...|{24 HR Contractin...|
|{New York, {40.72...|                null|                null|000673b2dac411ea|                null|                null|{phdbiosciences.c...|{CONTACT | PHD Bi...|
|{Menlo Park, {37....|                null|                null|0006d5aa170bae22|                null|                  []|{guidespark.com, ...|{Employee Communi...|
|{Auburn, {38.9405...|                null|                null|00080a1e9b3607c0|                null|                null|{null, [google.co...|                null|
|{Port Jefferson S...|                null|                null|0008bc70f8ba62bf|                null|[{I enjoyed the p...|{fullgospelcc.org...|{Full Gospel Chri...|
|{Olean, null, US,...|                null|                null|0008c39401d7ce3b|                null|                null|{locality.com, [f...|{locality.com Wel...|
|{Virgie, null, US...|                null|                null|0009cd9a574331a9|                null|                null|{null, [facebook....|                null|
|{Pacifica, {37.60...|                null|{true, null, null...|000a1df4c8e0ecd2|                null|[{If you shop at ...|{shell.us, [shell...|{Shell in the Uni...|
|{Carrboro, null, ...|                null|                null|000a863f1d02dd78|                null|                null|{null, [linkedin....|                null|
|{Indianapolis, {3...|                null|{null, null, null...|000b4a9059161ee7|                null|                null|{drhortondentistr...|{Andrey M. Horton...|
|{Dearborn, {42.33...|{[], [{specialtie...|                null|000bf1e934ac9cb6|                null|                  []|{accesscommunity....|{ACCESS | Assisti...|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- coordinates: struct (nullable = true)
 |    |    |-- lat: double (nullable = true)
 |    |    |-- lon: double (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- county: string (nullable = true)
 |    |-- full_address: string (nullable = true)
 |    |-- highway_number: string (nullable = true)
 |    |-- is_headquarters: boolean (nullable = true)
 |    |-- is_parsed: boolean (nullable = true)
 |    |-- post_direction: string (nullable = true)
 |    |-- pre_direction: string (nullable = true)
 |    |-- secondary_number: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- street_address: string (nullable = true)
 |    |-- street_number: string (nullable = true)
 |    |-- street_type: string (nullable = true)
 |    |-- type_of_address: string (nullable = true)
 |    |-- zip: string (nullable = true)
 |    |-- zip_suffix: string (nullable = true)
 |-- business_tags: struct (nullable = true)
 |    |-- no: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- tags: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |-- yes: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- hours: struct (nullable = true)
 |    |-- any_day_is_24: boolean (nullable = true)
 |    |-- friday_close: string (nullable = true)
 |    |-- friday_lb: long (nullable = true)
 |    |-- friday_open: string (nullable = true)
 |    |-- friday_total_seconds: long (nullable = true)
 |    |-- hours: struct (nullable = true)
 |    |    |-- Friday: string (nullable = true)
 |    |    |-- Monday: string (nullable = true)
 |    |    |-- Saturday: string (nullable = true)
 |    |    |-- Sunday: string (nullable = true)
 |    |    |-- Thursday: string (nullable = true)
 |    |    |-- Tuesday: string (nullable = true)
 |    |    |-- Wednesday: string (nullable = true)
 |    |-- monday_close: string (nullable = true)
 |    |-- monday_lb: long (nullable = true)
 |    |-- monday_open: string (nullable = true)
 |    |-- monday_total_seconds: long (nullable = true)
 |    |-- saturday_close: string (nullable = true)
 |    |-- saturday_lb: long (nullable = true)
 |    |-- saturday_open: string (nullable = true)
 |    |-- saturday_total_seconds: long (nullable = true)
 |    |-- sunday_close: string (nullable = true)
 |    |-- sunday_lb: long (nullable = true)
 |    |-- sunday_open: string (nullable = true)
 |    |-- sunday_total_seconds: long (nullable = true)
 |    |-- thursday_close: string (nullable = true)
 |    |-- thursday_lb: long (nullable = true)
 |    |-- thursday_open: string (nullable = true)
 |    |-- thursday_total_seconds: long (nullable = true)
 |    |-- tuesday_close: string (nullable = true)
 |    |-- tuesday_lb: long (nullable = true)
 |    |-- tuesday_open: string (nullable = true)
 |    |-- tuesday_total_seconds: long (nullable = true)
 |    |-- wednesday_close: string (nullable = true)
 |    |-- wednesday_lb: long (nullable = true)
 |    |-- wednesday_open: string (nullable = true)
 |    |-- wednesday_total_seconds: long (nullable = true)
 |    |-- week_total_hours_pretty: string (nullable = true)
 |    |-- week_total_minutes_pretty: string (nullable = true)
 |    |-- week_total_seconds: long (nullable = true)
 |-- id: string (nullable = true)
 |-- menu: struct (nullable = true)
 |    |-- price_range: string (nullable = true)
 |    |-- url: string (nullable = true)
 |-- reviews: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- content: string (nullable = true)
 |    |    |-- date: string (nullable = true)
 |    |    |-- dislikes: long (nullable = true)
 |    |    |-- gender: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- language: string (nullable = true)
 |    |    |-- likes: long (nullable = true)
 |    |    |-- source: string (nullable = true)
 |    |    |-- stars: long (nullable = true)
 |    |    |-- tags: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user: string (nullable = true)
 |    |    |-- user_id: string (nullable = true)
 |-- urls: struct (nullable = true)
 |    |-- domain: string (nullable = true)
 |    |-- domains: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- email: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- urls: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- webpage: struct (nullable = true)
 |    |-- content: string (nullable = true)
 |    |-- count: long (nullable = true)
 |    |-- elapsed: double (nullable = true)
 |    |-- success: boolean (nullable = true)
 |    |-- timestamp: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- urlhash: string (nullable = true)
 |    |-- validurl: string (nullable = true)

**2. (1 PT) Show the first 5 records**

In [4]:
df.show(5)

+--------------------+--------------------+--------------------+----------------+----+--------------------+--------------------+--------------------+
|             address|       business_tags|               hours|              id|menu|             reviews|                urls|             webpage|
+--------------------+--------------------+--------------------+----------------+----+--------------------+--------------------+--------------------+
|{Woodburn, {45.15...|                null|                null|000023995a540868|null|                  []|{woodburn.k12.or....|{Educational Tech...|
|{Hialeah, {25.884...|{[], [{has_atm, Y...|{null, 1900, null...|0000821a1394916e|null|                null|{null, [yelp.com]...|                null|
|{Rochester, {43.1...|{[], [{accepts_cr...|{null, 1700, null...|000136e65d50c3b7|null|[{New (to me) qui...|{usps.com, [yelp....|{Welcome | USPS G...|
|{West Palm Beach,...|                null|                null|00014329a70b9869|null|                null|                null|                null|
|{Eufaula, {35.283...|                null|{null, 1700, null...|00031c0a83f00657|null|                null|{drsodomcoburnand...|{DRS. COBURN, RIC...|
+--------------------+--------------------+--------------------+----------------+----+--------------------+--------------------+--------------------+
only showing top 5 rows

**3. (1 PT) Show the first 5 street addresses which are not null**

In [5]:
from pyspark.sql.functions import col
df.select("address.full_address").filter(col("address.full_address").isNotNull()).show(5)

+--------------------+
|        full_address|
+--------------------+
|496 Madison Ave, ...|
|Pompano Beach, FL...|
|S 14th St, Oxford...|
|Encino, CA 91316,...|
|4024 Flushing Rd....|
+--------------------+
only showing top 5 rows

**4. (1 PT) Location**  

Count the number of records where the city is Phoenix

In [6]:
df.filter(df.address.city == 'Phoenix').count()

762

**5. (1 PT) Hours**  

Count the number of records where closing time on Thursday is 8pm

In [7]:
df.filter(df.hours.thursday_close == 2000).count()

3313

**6. (1 PT) Location and Hours**  

Count the number of records where city is Phoenix and closing time on Thursday is 8pm

In [8]:
df.filter((df.address.city == 'Phoenix') & (df.hours.thursday_close == 2000)).count()

12

**7. (1 PT) Price Range**  

Price range is quoted in number of dollar signs.  Count the number of records with price range greater than or equal to two.

In [9]:
df.filter(df.menu.price_range >= 2).count()

1135

**8. (1 PT) COMPANY HEADQUARTERS**  

For the `address.is_headquarters` field:  
how many locations are HQ / are NOT HQ / are null?

In [10]:
df.groupBy('address.is_headquarters').count().show()

+---------------+-----+
|is_headquarters|count|
+---------------+-----+
|           null|87625|
|           true|  318|
|          false|66736|
+---------------+-----+

**9. (1 PT) Webpage URLs**  

Register the dataframe as a temp table.  
Next, use Spark SQL to select only the webpage title column, filtering on rows where the webpage url (accessed under `webpage.url`) is *Target.com*. 

Show only one resulting row and don't truncate the output.

In [11]:
# register DataFrame as temp view with name "people"
df.createOrReplaceTempView("webpage")

# query the view
sqlDF = spark.sql("SELECT webpage.title FROM webpage where webpage.url == 'Target.com'")
sqlDF.show(n = 1, truncate = False)

+-------------------------------+
|title                          |
+-------------------------------+
|Target : Expect More. Pay Less.|
+-------------------------------+
only showing top 1 row

**10. (1 PT) Analysis on Ratings**  

The reviews contains information such as the number of stars for each review (the *rating*).  
The ratings are stored in an array (`reviews.stars`) for each business location (you should check for yourself). Return the top five most common rating arrays.  For example, an array might look like: 
[5, 5]

In [12]:
from pyspark.sql.functions import desc
df.groupBy('reviews.stars').count().sort(desc("count")).show(5)

+------+-----+
| stars|count|
+------+-----+
|  null|74679|
|    []|42419|
|   [5]| 4258|
|[null]| 3067|
|[5, 5]| 1610|
+------+-----+
only showing top 5 rows

**11. More work with Ratings**  

For this question, you will filter out null ratings and then compute the average rating for each business location (using the field: `id`).


a) (1 PT) Create a new dataframe retaining two fields: `id`, `reviews.stars`

In [13]:
df1 = df.select('id', 'reviews.stars')
df1.show()

+----------------+--------------------+
|              id|               stars|
+----------------+--------------------+
|000023995a540868|                  []|
|0000821a1394916e|                null|
|000136e65d50c3b7|              [4, 4]|
|00014329a70b9869|                null|
|00031c0a83f00657|                null|
|0003b7589a4e12a0|                 [5]|
|00045f958e4bb02a|[null, null, null...|
|00055eb14ea38ca2|                null|
|00059519f0dba1b4|[null, null, null...|
|0005f8f0b2beeac4|                null|
|000673b2dac411ea|                null|
|0006d5aa170bae22|                  []|
|00080a1e9b3607c0|                null|
|0008bc70f8ba62bf|              [null]|
|0008c39401d7ce3b|                null|
|0009cd9a574331a9|                null|
|000a1df4c8e0ecd2|[null, null, 4, 5...|
|000a863f1d02dd78|                null|
|000b4a9059161ee7|                null|
|000bf1e934ac9cb6|                  []|
+----------------+--------------------+
only showing top 20 rows

b) (1 PT) Create a row for each rating  
hint: use the `withColumn()` and `explode()` functions  
you will need to import the `explode()` function by issuing:

`from pyspark.sql.functions import explode`

In [14]:
from pyspark.sql.functions import explode
df1 = df1.withColumn("stars", explode(df1.stars))
df1.show()

+----------------+-----+
|              id|stars|
+----------------+-----+
|000136e65d50c3b7|    4|
|000136e65d50c3b7|    4|
|0003b7589a4e12a0|    5|
|00045f958e4bb02a| null|
|00045f958e4bb02a| null|
|00045f958e4bb02a| null|
|00045f958e4bb02a| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4| null|
|00059519f0dba1b4|    1|
|00059519f0dba1b4|    5|
|00059519f0dba1b4|    2|
|00059519f0dba1b4|    4|
|00059519f0dba1b4|    5|
+----------------+-----+
only showing top 20 rows

c) (1 PT) Return a count of the number of ratings in this dataframe

In [15]:
df1.groupBy('stars').count().sort(desc("stars")).show()

+-----+------+
|stars| count|
+-----+------+
|    5|259351|
|    4|107728|
|    3| 51733|
|    2| 39295|
|    1| 80134|
| null| 61841|
+-----+------+

d) (1 PT) Drop rows where the rating is null, and return a count of the number of non-null ratings

In [16]:
df1 = df1.filter(col("stars").isNotNull())
df1.count()

538241

e) (1 PT) Compute the average rating, grouped by `id`. After the average is computed, sort by `id` in ascending order and show the top 10 records.  
 
hint:   
this can all be done in one line using the `agg()` function  
this `id` should be at the top: 000136e65d50c3b7

In [17]:
from pyspark.sql import functions as F
from pyspark.sql.functions import asc
df1.groupBy('id').agg(F.mean("stars")).sort(asc('id')).show(10)

+----------------+------------------+
|              id|        avg(stars)|
+----------------+------------------+
|000136e65d50c3b7|               4.0|
|0003b7589a4e12a0|               5.0|
|00059519f0dba1b4|3.3333333333333335|
|000a1df4c8e0ecd2|               4.6|
|000c7b7a30623083|               5.0|
|000c9ffc8b89af03|               3.0|
|000de20baa847ecc|1.6666666666666667|
|001064359d9f162f|               5.0|
|0010c9f495d87dd7|               3.0|
|0017774db5e6400a| 4.333333333333333|
+----------------+------------------+
only showing top 10 rows